
.navbar{
    background-color:#ffce00;
    border-radius: 35px;
    margin-top: 5px;
    height: 0px;
    /* display: flex; */
    /* justify-content: space-between; */
}
.navbar-item .title{
    font-size: 20px;
    font-weight: bold;
}
a.navbar-item:hover{
    background-color:unset;
}

.navbar-burger .qu-mark{
    margin-top: 6px ;

}
.navbar-burger:hover{
    background-color:unset;
}

input::placeholder{
text-transform: capitalize;
text-align: center;
}
.register-cat{
    border-radius: 20px;
    width: 100%;
}
.categoray-background{
    background-color: #ffce00;
    color:#fff
}
.error{
    color: red;
    display: none;
}
.input,.button{
    border-radius: 20px;
}

.sec-content-img{
    position: relative;
}

.person-modal{
    position: absolute;
    top: 60px;
    width: 78%;
    left: 70px;
}

#hide{
    display: none;
}

#hide,#show{
    color: gray;
    position: absolute;
    left:20px;
    top:10px;
    font-size: 18px;
}
.form-content{
    margin-top: 213px;
}
.input ,.button{
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);  
}

 .image-data-user
{
    width: 34%;
    border: 2px solid lightgray;
    padding: 0px;
    border-radius: 8px;
    margin-left: 20px;
}

.media-content{
    flex-grow: 0;
}

.search-logo-item img{
width: 64%;
}

.head-search{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 26px;
}
@media screen and (min-width: 769px){
    .column.is-2 {
        width: 12.66667%;
    }
}

@media screen and (max-width: 769px){
   
    .sec-content-img{
        display: none;
    }
    .form-content{
        margin-top: 0px;
    }
    .choise-cat-job{
        display: flex;
    }
   
}
@media screen and (max-width: 1024px){
    .search-logo-item {
        display: flex;
    width: 100%;
    }
    .search-logo-item img{
        width: 60%;
        }
  .arrow-item,.media{
      display: flex;
      justify-content: center;
  }

  .fa-4x {
    font-size: 2em;
}
body{
    overflow-x: hidden;
}
}
.container{
    width: 80%;

}
 
