
.navbar{
    background-color:#ffce00;
    border-radius: 35px;
    margin-top: 5px;
    height: 0px;
}
.navbar-item .title{
    font-size: 20px;
    font-weight: bold;
}
a.navbar-item:hover{
    background-color:unset;
}

.navbar-burger .qu-mark{
    margin-top: 6px ;

}
.navbar-burger:hover{
    background-color:unset;
}

input::placeholder{
text-transform: capitalize;
text-align: center;
color: #333;
}
.register-cat{
    border-radius: 20px;
    width: 100%;
}

.error{
    color: red;
    display: none;
}
.input,.button{
    border-radius: 20px;
}



#hide{
    display: none;
}

#hide,#show{
    color: gray;
    position: absolute;
    left:20px;
    top:10px;
    font-size: 18px;
}
.form-content{
    margin-top: 100px;
}
.input ,.button{
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);  
}

 .image-data-user
{
    width: 34%;
    border: 2px solid lightgray;
    padding: 0px;
    border-radius: 8px;
    margin-left: 20px;
}

.media-content{
    flex-grow: 0;
}

.search-logo-item img{
    width: 40%;
}

.head-search{
    font-weight: bold;
    text-transform: capitalize;
    font-size: 26px;
}
@media screen and (min-width: 769px){
    .column.is-2 {
        width: 12.66667%;
    }
}

@media screen and (max-width: 769px){
   
    .sec-content-img{
        display: none;
    }
    .form-content{
        margin-top: 0px;
    }
    .choise-cat-job{
        display: flex;
    }
   
}
@media screen and (max-width: 1024px){
    .search-logo-item {
        display: flex;
    width: 100%;
    }
  
  .media{
      display: flex;
      justify-content: center;
  }

  .fa-4x {
    font-size: 2em;
}
body{
    overflow-x: hidden;
}
}

 



/* .control.has-icons-left .icon, .control.has-icons-right .icon {
    color: #dbdbdb;
    height: 2.5em;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 2.5em;
    z-index: 4;
} */

.timline-body{
    position: relative;
}
.category-timeline{
    position: fixed;
    z-index: 10;
    overflow: hidden;
}
.category-timeline >div>p{
    border-radius: 10px;
    padding: 4px;
    margin-top: 6px;
}
.posts-body{
    margin-right: 240px;
}
.media-timeline{
    border: 1px solid lightgray;
    height: 100%;
    border-radius: 20px;

}

@media screen and (max-width: 1024px){
    
    .custom-navbar-element{
        display: inline-block;
        margin: 0 20px;
        text-align: right;
    
    }
    .category-timeline{
        position: static;
        z-index: unset;
        overflow: hidden;
    }
    .posts-body{
        margin-right: 0px;
    }
    .media-content {
        overflow-x: hidden;
    }
}

  

    @media screen and (max-width: 768px){
.media-content {
    overflow-x: hidden;
}
    }

footer{
    position: relative;
    top:-10px;
    background-color:#ffce00 ;
    padding: 80px;
}
.final-footer{
    padding: 20px;
    position: relative;
    top:-10px;
}
.footer-logo-img{
    width: 40%;
}
@media screen and (max-width: 1200px){
    footer{
        padding: 20px;
        position: relative;
        top:0px;
    }
}